#os
.bash_history
.lesshst
.profile
.sudo_as_admin_successful
.rustup
.local

#IAs
.windsurf

#git
.gitconfig

#app
outcome/
*.log

#python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
taged.cache
.codeoss
.kube
cache
.cache
.npm
.vscode
.docker
.config
.viminfo
.gemini
.ssh
.bash_history
.bash_logout
.bashrc
.env

#Zip Files
*.zip
*.gz
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lz
*.tar.lzma
*.tar.lz4

#files offimatic
*.xlsx
*.docx
