# config.env - Clústeres GKE para análisis de límites de recursos

CLUSTERS=(
  "gke_cpl-cs-wms-qa-30112023_us-central1_gke-cs-wms-qa-01"
  "gke_cpl-cs-wms-qa-30112023_us-central1_gke-cs-wms-qa-02"
  "gke_cpl-cs-wms-qa-30112023_us-central1_gke-cs-wms-qa-03"
)

